.hi {
    box-shadow: 5px 5px 5px cyan;
    padding:25px;
    margin: 30px;
    
}

canvas {
    border-radius: 25px;
    box-shadow: 5px 5px 5px red;
    margin: 25px;
    padding: 32px;
}